@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-color: #fea8f3;
    }
</style>

<p><br /><br /><br /><br /></p>
<div class="text-center">
    <h1 style="color:navy" class="display-4">Mikaela L. Jintalan<br />BSCS-31E1</h1>
    <p><br /></p>
    <h4> <a href="https://github.com/mikaelajintalan">Visit my github repositories.</a></h4>
    <p style="color:red"><marquee behavior="scroll" direction="left" scrollamount="1">adet-midterm-q2-jintalan-mikaela</marquee></p>
</div>


